/* carousel.css */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: white;
    font-size: 30px;
    border: none;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}
