/* Alineación de los botones de navegación */
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 5;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: white; /* Iconos de flechas blancos */
}

/* Evitar que los botones se solapen con los productos */
.carousel-inner {
    padding-bottom: 40px; /* Espacio para los botones de control */
}
