{% extends 'base.html.twig' %}

{% block title %}Mi Perfil{% endblock %}

{% block body %}
    <h1>Bienvenido, {{ app.user.name }}!</h1>
    <p>Email: {{ app.user.email }}</p>
    
    {% if app.user.imagePerfil %}
        <img src="{{ asset('images/' ~ app.user.imagePerfil) }}" alt="Foto de perfil" style="width: 150px; height: 150px; border-radius: 50%;" />
    {% else %}
        <img src="{{ asset('images/FotoPorDefecto.png') }}" alt="Imagen predeterminada" style="width: 150px; height: 150px; border-radius: 50%;" />
    {% endif %}
{% endblock %}
